NEXTAUTH_SECRET=<some_secret>
DATABASE_URL=<some_url>
UPSTASH_REDIS_REST_URL=<some_url>
UPSTASH_REDIS_REST_TOKEN=<some_secret>
RESEND_API_KEY=<some_secret>
EMAIL_FROM=Trail Makers <onboarding@resend.dev>
SMTP_HOST=
SMTP_USER=
SMTP_PASS=
RAZORPAY_KEY_ID=<some_id>
RAZORPAY_KEY_SECRET=<razorpay_secret>
NODE_ENV=development|production
